* {
  margin: 0;
  padding: 0;
}

body {
 background-image: url('https://img.freepik.com/free-vector/vibrant-fluid-gradient-background-with-curvy-shapes_1017-32108.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 100vh;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.mainHeading h1, .subHeading h2 {
  text-align: center;
}


h2, h1 {
  color: white;
}


.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 90%;
  height: 1.6em;
  padding-inline-start: 0.5em;
  font-size: medium;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: medium;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 0.5em;
  overflow: hidden;
}

.app .todos .todo .left p {
  margin-left: 8px;
  font-size: large;
  font-weight: 700;
  font-style: normal;
  color: grey;
}

.todo input {
  margin-left: 8px;
  font-size: large;
  font-weight: 700;
  font-family: Roboto;
  color: grey;
  border-color: transparent;
  outline-color: transparent;
}

.right {
  display: flex;
}

.right #editIcon {
  margin-right: 10px;
}

#checkIcon, #crossIcon {
  font-size: larger;
}

#checkIcon {
  margin-right: 10px;
}